#root {
  margin: 0;
  height: 100%;
}


:root{
  --colorMain: #6526d1;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* 25% para la primera parte, 75% para la segunda parte */
  height: 100vh; /* Establece la altura del contenedor al 100% del viewport height */
  background-color: var(--colorMain);
}

.productos{
    background-color: white;
    border-radius: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    
    display: flex;
    padding: 3em 0 0 3em;
  
    flex-wrap: wrap;
}

.navegacion{
  position: sticky;
}
